<p id="notice"><%= notice %></p>

<p style='color:#ffffff;font-size:16px;font-family:PingFang-SC-Medium;'>當前位置: 管理系統 > 工作清單掃碼記錄</p>

<div style='background:#333333;width:1024px;height:30px;color:#ffffff;font-size:18px;font-family:PingFang-SC-Medium;text-align:center;'>工作清單掃碼記錄</div>

<table class="table">
  <thead>
    <tr style='background:#f4f4f4;color:#333333;font-size:14px;font-family:MicrosoftJhengHeiRegular;'>
      <th><%= t(:wid, :scope=>[:activerecord,:attributes,:wk_barcode]) %></th>
      <th><%= t(:site, :scope=>[:activerecord,:attributes,:wk_barcode]) %></th>
      <th><%= t(:scandate, :scope=>[:activerecord,:attributes,:wk_barcode]) %></th>
      <th><%= t(:scantime, :scope=>[:activerecord,:attributes,:wk_barcode]) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wk_barcodes.each do |wk_barcode| %>
      <tr style='background:#f4f4f4;color:#333333;font-size:14px;font-family:MicrosoftJhengHeiRegular;'>
        <td><%= wk_barcode.wid %></td>
        <td><%= wk_barcode.site %></td>
        <td><%= wk_barcode.scandate %></td>
        <td><%= wk_barcode.scantime.strftime("%T")  %></td>
        <td><%= link_to '詳細', wk_barcode %></td>
        <td><%= link_to '修改', edit_wk_barcode_path(wk_barcode) %></td>
        <td><%= link_to '刪除', wk_barcode, method: :delete, data: { confirm: '確定嗎？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增工作清單掃碼記錄', new_wk_barcode_path, :class=>"btn btn-large btn-primary"  %>

<br>
<br>