<p style='color:#ffffff;font-size:16px;font-family:PingFang-SC-Medium;'>當前位置: 管理系統 > 工作清單掃碼記錄</p>

<div style='display:table;'>
	<div style='display:table-row;'>
		<div style='display:table-cell;background:#333333;width:1024px;height:30px;color:#ffffff;font-size:18px;font-family:PingFang-SC-Medium;text-align:center;'>工作清單掃碼記錄</div>
	</div>
	<div style='display:table-row;'>
		<div style='display:table-cell;background:#ffffff;'>


			<%= form_tag :action => 'search' do %>
				<br><br>

					
				<p style='display:inline-block;color:#333333;font-size:16px;font-family:PingFang-SC-Medium;margin-left:5%;width:300px;'>
					<%= t(:wid, :scope=>[:activerecord,:attributes,:wk_barcode]) %>：<%= text_field_tag :wid_text, params[:wid_text], :placeholder=>"請輸入#{t(:wid, :scope=>[:activerecord,:attributes,:wk_barcode])}" %>
				</p>
					
				<p style='display:inline-block;color:#333333;font-size:16px;font-family:PingFang-SC-Medium;margin-left:5%;width:300px;'>
					<%= t(:site, :scope=>[:activerecord,:attributes,:wk_barcode]) %>：
					<!-- map all scopy data to array variant, and show it to options_for_select. @xieyinghua -->
				    <% sname_array = Site.all.order(:id).map{|site| [site.sname] }.uniq %>
					<% sname_array=['']+sname_array %>
				    <%= select_tag :site_text, options_for_select(sname_array, params[:site_text]), :style=>'width:220px; height:40px;' %>
				</p>
				<br>

				<p style='display:inline-block;color:#333333;font-size:16px;font-family:PingFang-SC-Medium;margin-left:5%;width:300px;'>
		          <%= t(:begindate, :scope=>[:activerecord,:attributes,:worksense]) %>：<%= text_field_tag :begindate_text, params[:begindate_text], :placeholder=>"請輸入#{t(:begindate, :scope=>[:activerecord,:attributes,:worksense])}" %>
		          <%= image_tag 'icon_date.jpg',:id=>'begindate_image' %>
		        </p>
		          
		        <p style='display:inline-block;color:#333333;font-size:16px;font-family:PingFang-SC-Medium;margin-left:5%;width:300px;'>
		          <%= t(:enddate, :scope=>[:activerecord,:attributes,:worksense]) %>：<%= text_field_tag :enddate_text, params[:enddate_text], :placeholder=>"請輸入#{t(:enddate, :scope=>[:activerecord,:attributes,:worksense])}" %>
		          <%= image_tag 'icon_date.jpg',:id=>'enddate_image' %>
		        </p>
		        <br>
					
				<br><br>
				<%= hidden_field_tag :search,'yes' %>
				<%= submit_tag '檢索', :class=>"btn btn-large btn-primary", :style=>'background:#80c269;width:140px;height:40px;margin-left:5%;' %>
				<%= link_to '下載畫面結果',@rlink, :class=>"btn btn-large btn-primary", :style=>'background:#f8b551;width:140px;height:40px;margin-left:5%;' %>
				<%= link_to '新增工單掃碼記錄', new_wk_barcode_path, :class=>"btn btn-large btn-primary", :style=>'background:#3376b2;width:180px;height:40px;margin-left:5%;'  %>
			<% end %>
		
			<br>
			<br>

			<%= render 'formsearch' %>

			<br>
			<br>
		</div>
	</div>
</div>



<script type="text/javascript">
    //日曆的程式，指定要觸發事件的物件及目標寫入物件、格式
    var cal = Calendar.setup({
      onSelect: function(cal) { 
        cal.hide() 
      },
      showTime: true
    });
    cal.manageFields("begindate_image", "begindate_text", "%Y-%m-%d");
    cal.manageFields("enddate_image", "enddate_text", "%Y-%m-%d");
</script>