<p id="notice"><%= notice %></p>

<p style='color:#ffffff;font-size:16px;font-family:PingFang-SC-Medium;'>當前位置: 管理系統 > 內視鏡掃碼記錄</p>

<div style='background:#333333;width:1024px;height:30px;color:#ffffff;font-size:18px;font-family:PingFang-SC-Medium;text-align:center;'>內視鏡掃碼記錄</div>

<table class="table">
  <thead>
    <tr style='background:#f4f4f4;color:#333333;font-size:14px;font-family:MicrosoftJhengHeiRegular;'>
      <th><%= t(:rid, :scope=>[:activerecord,:attributes,:rf_barcode]) %></th>
      <th><%= t(:site, :scope=>[:activerecord,:attributes,:rf_barcode]) %></th>
      <th><%= t(:scandate, :scope=>[:activerecord,:attributes,:rf_barcode]) %></th>
      <th><%= t(:scantime, :scope=>[:activerecord,:attributes,:rf_barcode]) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rf_barcodes.each do |rf_barcode| %>
      <tr style='background:#f4f4f4;color:#333333;font-size:14px;font-family:MicrosoftJhengHeiRegular;'>
        <td><%= rf_barcode.rid %></td>
        <td><%= rf_barcode.site %></td>
        <td><%= rf_barcode.scandate %></td>
        <td><%= rf_barcode.scantime.strftime("%T")  %></td>
        <td><%= link_to '詳細', rf_barcode %></td>
        <td><%= link_to '修改', edit_rf_barcode_path(rf_barcode) %></td>
        <td><%= link_to '刪除', rf_barcode, method: :delete, data: { confirm: '確定嗎？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增內視鏡掃碼記錄', new_rf_barcode_path, :class=>"btn btn-large btn-primary"  %>

<br>
<br>