<p style='color:#ffffff;font-size:16px;font-family:PingFang-SC-Medium;'>當前位置: 管理系統 > 文章管理</p>

<div style='display:table;'>
  <div style='display:table-row;'>
    <div style='display:table-cell;background:#333333;width:1024px;height:30px;color:#ffffff;font-size:18px;font-family:PingFang-SC-Medium;text-align:center;'>文章管理</div>
  </div>
  <div style='display:table-row;'>
    <div style='display:table-cell;background:#ffffff;padding-left:5%;'>


<%= simple_form_for(@news) do |f| %>
  <%= f.error_notification %>


  <div class="field">
    <%= f.input :postdate %>
  </div>
  <div class="field">
    <%= f.input :posttime %>
  </div>
  <div class="field">
    <%= f.input :title %>
  </div>
  <div class="field">
    <%= f.input :body %>
  </div>
  <div class="field">
    <%= f.input :picture, multiple: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

        <%= link_to '返回', news_index_path %>

    </div>
  </div>
</div>
