<%= simple_form_for(@news) do |f| %>
  <%= f.error_notification %>


  <div class="field">
    <%= f.input :postdate %>
  </div>
  <div class="field">
    <%= f.input :posttime %>
  </div>
  <div class="field">
    <%= f.input :title %>
  </div>
  <div class="field">
    <%= f.input :body %>
  </div>
  <div class="field">
    <%= f.input :picture, multiple: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
