<p id="notice"><%= notice %></p>

<p style='color:#ffffff;font-size:16px;font-family:PingFang-SC-Medium;'>當前位置: 管理系統 > 文章清單</p>

<div style='background:#333333;width:1024px;height:30px;color:#ffffff;font-size:18px;font-family:PingFang-SC-Medium;text-align:center;'>文章清單</div>

<table class="table">
  <thead>
    <tr style='background:#f4f4f4;color:#333333;font-size:14px;font-family:MicrosoftJhengHeiRegular;'>
      <th><%= t(:postdate, :scope=>[:activerecord,:attributes,:news]) %></th>
      <th><%= t(:posttime, :scope=>[:activerecord,:attributes,:news]) %></th>
      <th><%= t(:title, :scope=>[:activerecord,:attributes,:news]) %></th>
      <th><%= t(:body, :scope=>[:activerecord,:attributes,:news]) %></th>
      <th><%= t(:picture, :scope=>[:activerecord,:attributes,:news]) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr style='background:#f4f4f4;color:#333333;font-size:14px;font-family:MicrosoftJhengHeiRegular;'>
        <td><%= news.postdate %></td>
        <td><%= news.posttime %></td>
        <td><%= news.title %></td>
        <td><%= news.body %></td>
        <td><%= image_tag news.picture_url(:minium) if news.picture? %></td>
        <td><%= link_to '詳細', news %></td>
        <td><%= link_to '修改', edit_news_path(news) %></td>
        <td><%= link_to '刪除', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增文章', new_news_path %>
