<p id="notice"><%= notice %></p>

<p style='color:#ffffff;font-size:16px;font-family:PingFang-SC-Medium;'>當前位置: 管理系統 > 文章內文詳細資訊</p>

<div style='display:table;'>
  <div style='display:table-row;'>
    <div style='display:table-cell;background:#333333;width:1024px;height:30px;color:#ffffff;font-size:18px;font-family:PingFang-SC-Medium;text-align:center;'>文章內文詳細資訊</div>
  </div>
  <div style='display:table-row;'>
    <div style='display:table-cell;background:#ffffff;padding-left:5%;'>


<p>
  <strong><%= t(:tab, :scope=>[:activerecord,:attributes,:news]) %>:</strong>
  <%= @news.tab %>
</p>

<p>
  <strong><%= t(:postdate, :scope=>[:activerecord,:attributes,:news]) %>:</strong>
  <%= @news.postdate %>
</p>

<p>
  <strong><%= t(:posttime, :scope=>[:activerecord,:attributes,:news]) %>:</strong>
  <%= @news.posttime %>
</p>

<p>
  <strong><%= t(:title, :scope=>[:activerecord,:attributes,:news]) %>:</strong>
  <%= @news.title %>
</p>

<p>
  <strong><%= t(:body, :scope=>[:activerecord,:attributes,:news]) %>:</strong>
  <%= @news.body %>
</p>

<p>
  <strong><%= t(:picture, :scope=>[:activerecord,:attributes,:news]) %>:</strong>
  <%= image_tag @news.picture_url(:thumb) if @news.picture? %>
</p>

<%= link_to '修改', edit_news_path(@news) %> |
<%= link_to '返回', news_index_path %>

      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
</div>